<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>Projects</h1>
		</header>
		<div class="row">
			<div class="6u 12u$(small)">
				<h3>Number Recognition from Hand Gestures</h3>
				<img src="assets/images/hand-digit.gif" style="max-height: 320px;" alt="" data-position="center center" />

				<p style="margin-top: 10px;">A simple computer-vision program that recognises numbers given hand gestures from a live webcam feed. The idea was to create a prototype for what could eventually become an automatic interpreter for sign language.</p>
				<a href="https://github.com/gwpicard/hand-digit-recognition" target="_blank" class="button" style="margin-bottom: 20px;">View Project</a>
			</div>
			<div class="6u$ 12u$(small)">
				<h3>Flask-powered Kanban app</h3>
				<img src="assets/images/kanban.gif" style="max-height: 320px;" alt="" data-position="center center" />
				<p style="margin-top: 10px;">A fully-functional Kanban app with user accounts built using Flask, JQuery & SQLAlchemy. An exercise in tying together everything I know to build a usable, functional Flask-based prototype. </p>

				<a href="https://github.com/gwpicard/flask-kanban" target="_blank" class="button" style="margin-bottom: 20px;">View Project</a>
			</div>
		</div>
	</div>
</section>

</div>